<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="list-photo_wrap">
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/supporters_admin/qzzs4g-y87q7za.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(0)" role="img" aria-label="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트" title="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/supporters_admin/qzzs4g-y87q7za.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="봇타야산 사진 - 서울시 서초구 방배동 751-1"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image"  ng-click="mp20_gallery_open(5, true)">
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146145682383.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(1)" role="img" aria-label="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트" title="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146145682383.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="봇타야산 사진 - 서울시 서초구 방배동 751-1"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image"  ng-click="mp20_gallery_open(5, true)">
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146153537460.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(2)" role="img" aria-label="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트" title="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146153537460.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="봇타야산 사진 - 서울시 서초구 방배동 751-1"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" ng-click="mp20_gallery_open(5, true)">
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146155385104.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(3)" role="img" aria-label="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트" title="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146155385104.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="봇타야산 사진 - 서울시 서초구 방배동 751-1"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image"  ng-click="mp20_gallery_open(5, true)">
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146156472194.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                     ng-click="mp20_gallery_open(4)" role="img" aria-label="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트" title="봇타야산 - 동작역 철판 요리 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/957883_1666146156472194.jpg?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="봇타야산 사진 - 서울시 서초구 방배동 751-1"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>
            </figure>
</body>
</html>